html{
    font-family: sans-serif;
}
header{
    height: 90px;
    background: #BCBCD6;
         color: darkslategray;
    text-align: center;
	    border: 5px solid #000;
      
}
.main-content-container{
    min-height: 800px;
    
}

.main-container-sidebar.left{
     width: 12%;
     float: left;
}

.main-container-article{
      width: 70%;
    display: inline-block;   
}

.main-container-sidebar.right{
      width: 12%;
      float: right;
}

.side-article{
     border-top: 20px solid #CFE2F3;
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
} 

.img-placeholder{
	height: 100px;
	width: 100%;
	background-color: darkblue;  
} 

.side-article{
	padding: 5px;
	margin-bottom: 15px;
}

.side-article-title{
    
}

footer{
    
}