html{
    font-family: sans-serif;
}
header{
    height: 90px;
    background: #6C6C79;
         color: darkslategray;
    text-align: center;
	    border: 5px solid #000;
      
}
.main-content-container{
    min-height: 800px;
    
}
.main-content-article{
      width: 70%;
     border: 1px solid;
    display: inline-block;   
}

.main-container-sidebar{
     border: 1px solid;
    display: inline-block;
      width: 29%;
	  float: right;
}
.main-container-siderbar-left{
    width: 16%;
    
}

.main-container-siderbar-right{
    float: left;
}

footer{
    
}